# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/6502_vc/6502_emul/x64
/6502_vc/6502_emul/6502_emul/x64
/build
/bin
/.vscode
/6502_vc/6502_emul/.vs
